
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #24303c;
}




header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;

    background-image: url("../Images/Auto01.png");
    background-size: cover;
    background-position: center;
    opacity: 1; /* Ajusta la opacidad según tus preferencias */
    z-index: -1;  /*Coloca la imagen de fondo detrás del contenido */
    
    
}


h1 {
    padding: 0;
    margin:0;
    color: rgb(228, 221, 241);
}

header b {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
}


/*barra navegacion*/
nav {
    background-color: #0c0b0b;
    color: white;
    padding: 5px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex: wrap;
    justify-content:space-between;
    padding: 5px;
    margin: 0;
}

nav li {
    flex: 1 0 auto;
    text-align: center;
}

nav ul a {
    display: block;
    text-decoration: none;
    color: hsl(0, 14%, 97%);
    padding: 5px 0;
}

nav ul a:hover {
    background: hsl(251, 92%, 14%);
    color: rgb(88, 88, 170);
}
/*termina barra navegacion*/


.seccion {

        flex: 1;
        background-color: #f4f4f4;
        margin: 10px;
        padding: 100px;
        border: 1px solid #ddd;
        border-radius: 10px;
        border: 1px solid #ddd;
        
    
}

.seccion h3 {
    text-align: center;
    color: #004e92;
    font-style: italic;
    font-size: 30px;
}


/*cards quienes somos*/

.card_imagen img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 1em;
}

.contenedor_card{
    padding: 4em 2em;
    display: flex;
    justify-content: center;
    
    }

.card{
    max-width: 20em;
    margin: 1em;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.95);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    }
    
    .card_imagen{
    max-height: 20em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 1em;
}

.card_imagen :hover {
    transition: transform 0.3s; /* Agregar una transición suave */
    transform: scale(1.2) /*agranda la img al pasar por encima con el mouse*/
}
    
    
    .card_contenido{
    padding: 1em 1em 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    }
    
    .card_cabecera{
    border-bottom: 1px solid rgba(0, 78, 146, 0.2);
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: baseline;
    }
    
    .card_nombre{
    margin: 0;
    color: #004e92;
    font-style: italic;
    font-size: 20px;
    }
    
    .card_texto{
    font-size: 16px;
    line-height: 1.5;
    flex-grow: 1;
    text-align: center;
    }

    footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px;
    }



    @media all and (min-width:600px) and (max-width:1023px) {


        body {
            background-color: red;
        }

    }



    @media all and (max-width: 599px) {

        body {
            background-color: violet;
        }


        nav {
            background-color: #24303c;
            color: white;
            padding: 0;
            margin: 0;
            width: auto;
            
        }
    
    
        
        nav ul {
            list-style-type: none;
            display: block;
            padding: 0;
            margin: 0;
            float: none;
            box-sizing: border-box;
            
        }
    
        nav ul li a {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        padding: 10px;
        text-align: center;
        box-sizing: border-box;
        background-color: #000407;
        width: 100%;
    } 
        
    
        nav ul li {
            display: block;
            padding: 0;
            margin-bottom: 5px;
           
            
        }


    }