/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #24303c;
}



header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;

    background-image: url("../Images/Auto01.png");
    background-size: cover;
    background-position: center;
    opacity: 1; /* Ajusta la opacidad según tus preferencias */
    z-index: -1;  /*Coloca la imagen de fondo detrás del contenido */
    
    
}

h1 {
    padding: 0;
    margin:0;
    color: rgb(228, 221, 241);
}

header b {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
}


/*barra navegacion*/
nav {
    background-color: #0c0b0b;
    color: white;
    padding: 5px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    padding: 5px;
    margin: 0;
}

nav li {
    flex: 1 0 auto;
    text-align: center;
}

nav ul a {
    display: block;
    text-decoration: none;
    color: hsl(0, 14%, 97%);
    padding: 5px 0;
}

nav ul a:hover {
    background: hsl(251, 92%, 14%);
    color: rgb(88, 88, 170);
}
/*termina barra navegacion*/

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    flex-direction: column;
}


/*contenido prmiero*/
.contenido-primero {
    flex: 1;
    background-color: #f4f4f4;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    background-image: url("../Images/Auto02.png");
    background-size: cover;
    background-position: center;
    opacity: 1;  /*Ajusta la opacidad según tus preferencias*/ 
    z-index: 0;  /*Coloca la imagen de fondo detrás del contenido */
    
}



.contenido-primero h2 a {
    padding: 0;
    margin: 0;
}

.contenido-primero h2 {

    text-align: center;
    color:rgb(129, 153, 153);
    font-size: 40px;
}

.contenido-primero h2 a {
    color: #3074d4;  /* Cambiar el color de los enlaces a negro (#000) o el color deseado */
    text-align: center;
    text-decoration: none;
}

.contenido-primero h2 a:hover {
    text-decoration: underline; /* Agregar subrayado al pasar el mouse por encima */
    color: #a9eb8f; /* Cambiar el color al pasar el mouse por encima (opcional) */
}


.contenido-primero p {
    color:rgb(226, 230, 230);
    text-align: center;
    font-size: 16px;
    
}

/*termina contenido primero*/


/*empieza contenido segundo*/
.contenido-segundo {
    flex: 1;
    background-color: #f4f4f4;
   /* background-color: #24303c;*/
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
}
.contenido-segundo h2 {
    text-align: center;
    font-size: 30px;
}

.contenido-segundo h3 {
    font-size: 20px;
}

.imagen_clientes {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

}

#h2-h3-contenido-segundo {
    padding: 2px;
    margin: 6px;
    box-sizing: border-box;
    background-color: rgb(247, 227, 236);
    border: 1px solid #ddd;
    border-radius: 10px;
    
}

#h2-h3-contenido-segundo h2 {
    text-align: center;
    padding: 0;
    margin: 20px;
}

/*auto_cards*/

.autos_cards {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    padding: 10px;
    
}

.auto-cards-individual {
    margin: 2px;
    padding: 2px;
}

.autos_cards :hover {
    transition: transform 0.3s; /* Agregar una transición suave */
    transform: scale(1.2) /*agranda la img al pasar por encima con el mouse*/
}
/*fin autocards*/

.contenido-segundo p {
    font-size: 20px;
    text-align: center;
}

.contenido-segundo p a {
    text-align: center;
    text-decoration: none;
}

.contenido-segundo p a:hover {
    text-decoration: underline; /* Agregar subrayado al pasar el mouse por encima */
    color: #a9eb8f; /* Cambiar el color al pasar el mouse por encima (opcional) */
}

/*cards icons*/

#article_cards_icons h4 {
    text-align: center;
}

.cardSimple_icons {
    /*flex: column;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;*/

    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

/*termina contenido segundo*/
.contenido-tercero {
    flex: 1;
    background-color: #f4f4f4;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}